[package]
name = "tari_comms_dht"
version = "0.52.0-pre.1"
authors = ["The Tari Development Community"]
description = "Tari comms DHT module"
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
edition = "2018"

[dependencies]
tari_comms = {  path = "../core", features = ["rpc"] }
tari_common = { path = "../../common" }
tari_comms_rpc_macros = {  path = "../rpc_macros" }
tari_crypto = { version = "0.18" }
tari_utilities = { version = "0.5" }
tari_shutdown = {  path = "../../infrastructure/shutdown" }
tari_storage = {  path = "../../infrastructure/storage" }
tari_common_sqlite = { path = "../../common_sqlite" }

anyhow = "1.0.53"
bitflags = { version = "2.4.0", features = ["serde"] }
bitflags-serde-legacy = "0.1.1"
chacha20 = "0.7.1"
chacha20poly1305 = "0.10.1"
chrono = { version = "0.4.19", default-features = false }
diesel = { version = "2.0.3", features = ["sqlite", "serde_json", "chrono", "numeric"] }
diesel_migrations = "2.0.0"
digest = "0.10"
futures = "^0.3.1"
log = "0.4.8"
log-mdc = "0.1.0"
prost = "=0.9.0"
prost-types = "=0.9.0"
rand = "0.8"
serde = "1.0.90"
thiserror = "1.0.26"
tower = { version = "0.4", features = ["full"] }
zeroize = "1"

# Uncomment for tokio tracing via tokio-console (needs "tracing" features)
#console-subscriber = "0.1.3"
#tokio = { version = "1.20", features = ["rt", "macros", "tracing"] }
# Uncomment for normal use (non tokio-console tracing)
tokio = { version = "1.23", features = ["rt", "macros"] }

# tower-filter dependencies
pin-project = "0.4"

[dev-dependencies]
tari_test_utils = {  path = "../../infrastructure/test_utils" }

env_logger = "0.7.0"
futures-test = { version = "0.3.5" }
futures-util = "^0.3.1"
lazy_static = "1.4.0"
lmdb-zero = "0.4.4"
tempfile = "3.1.0"
tokio-stream = { version = "0.1.9", features = ["sync"] }
petgraph = "0.5.1"
clap = "3.2"


[build-dependencies]
tari_common = {  path = "../../common" }

[features]
test-mocks = []
