[package]
name = "tari_comms_dht"
version = "0.8.5"
authors = ["The Tari Development Community"]
description = "Tari comms DHT module"
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
edition = "2018"

[dependencies]
tari_common = { version = "^0.8", path = "../../common"}
tari_comms  = { version = "^0.8", path = "../", features = ["rpc"]}
tari_comms_rpc_macros  = { version = "^0.8", path = "../rpc_macros"}
tari_crypto = "^0.8"
tari_utilities  = { version = "^0.3" }
tari_shutdown = { version = "^0.8", path = "../../infrastructure/shutdown"}
tari_storage  = { version = "^0.8", path = "../../infrastructure/storage"}

anyhow = "1.0.32"
bitflags = "1.2.0"
bytes = "0.4.12"
chrono = "0.4.9"
diesel = {version="1.4", features = ["sqlite", "serde_json", "chrono", "numeric"]}
diesel_migrations =  "1.4"
digest = "0.8.1"
futures= {version= "^0.3.1"}
log = "0.4.8"
prost = "=0.6.1"
prost-types = "=0.6.1"
rand = "0.7.2"
serde = "1.0.90"
serde_derive = "1.0.90"
serde_repr = "0.1.5"
thiserror = "1.0.20"
tokio = {version="0.2.10", features=["rt-threaded", "blocking"]}
tower= "0.3.1"
ttl_cache = "0.5.1"

# tower-filter dependencies
pin-project = "0.4"

[dev-dependencies]
tari_test_utils = { version = "^0.8", path = "../../infrastructure/test_utils"}

env_logger = "0.7.0"
futures-test = { version = "0.3.0-alpha.19", package = "futures-test-preview" }
lmdb-zero = "0.4.4"
tempfile = "3.1.0"
tokio-macros = "0.2.3"
petgraph = "0.5.1"
clap = "2.33.0"

# tower-filter dependencies
tower-test = { version = "^0.3" }
tokio-test = "^0.2"
tokio = "^0.2"
futures-util = "^0.3.1"
lazy_static = "1.4.0"

[build-dependencies]
tari_common  = { version = "^0.8", path="../../common"}

[features]
test-mocks = []
avx2 = ["tari_crypto/avx2"]
