[package]
name = "tari_mmr"
authors = ["The Tari Development Community"]
description = "A Merkle Mountain Range implementation"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.52.0-pre.0"
edition = "2018"

[features]
default = []
native_bitmap = ["croaring"]

[dependencies]
tari_utilities = { version = "0.5" }
tari_crypto = { version = "0.18" }
tari_common = { path = "../../common" }
borsh = "0.10"
croaring = { version = "0.5", optional = true }
digest = "0.10"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"

[dev-dependencies]
rand = "0.8"
blake2 = "0.10"
serde_json = "1.0"
bincode = "1.1"
criterion = { version = "0.5" }

[lib]
# Disable libtest from intercepting Criterion bench arguments
bench = false

[[bench]]
name = "mmr"
harness = false

[[bench]]
name = "smt"
harness = false

[[bench]]
name = "smt_vs_mmr"
harness = false

[[test]]
name = "tari_mmr_integration_tests"
path = "tests/mmr_integration_tests.rs"
required-features = ["native_bitmap"]
