[package]
name = "tari_mmr"
authors = ["The Tari Development Community"]
description = "A Merkle Mountain Range implementation"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.51.0-pre.3"
edition = "2018"

[features]
default = []
native_bitmap = ["croaring"]

[dependencies]
tari_utilities = "0.4"
tari_crypto = { version = "0.17" }
tari_common = { path = "../../common" }
thiserror = "1.0"
borsh = "0.9"
digest = "0.9"
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
croaring = { version = "0.5", optional = true }

[dev-dependencies]
rand = "0.8.0"
blake2 = "0.9.0"
serde_json = "1.0"
bincode = "1.1"
criterion = { version = "0.5" }

[lib]
# Disable libtest from intercepting Criterion bench arguments
bench = false

[[bench]]
name = "mmr"
harness = false

[[bench]]
name = "smt"
harness = false

[[bench]]
name = "smt_vs_mmr"
harness = false

[[test]]
name = "tari_mmr_integration_tests"
path = "tests/mmr_integration_tests.rs"
required-features = ["native_bitmap"]
