[package]
name = "tari_mmr"
authors = ["The Tari Development Community"]
description = "A Merkle Mountain Range implementation"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.49.2"
edition = "2018"

[features]
default = []
native_bitmap = ["croaring"]
benches = ["criterion"]

[dependencies]
tari_utilities = "0.4.10"
tari_crypto = { version = "0.16.11"}
tari_common = {path = "../../common"}
thiserror = "1.0.26"
borsh = "0.9.3"
digest = "0.9.0"
log = "0.4"
serde = { version = "1.0.97", features = ["derive"] }
croaring =  { version = "0.5.2", optional = true }
criterion = { version="0.2", optional = true }

[dev-dependencies]
rand="0.8.0"
blake2 = "0.9.0"
serde_json = "1.0"
bincode = "1.1"
[lib]
# Disable libtest from intercepting Criterion bench arguments
bench = false

[[bench]]
name = "bench"
harness = false
