[package]
name = "tari_storage"
authors = ["The Tari Development Community"]
description = "Key-Value store API for the Tari project"
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "0.8.2"
edition = "2018"

[dependencies]
bincode = "1.1"
log = "0.4.0"
lmdb-zero = "0.4.4"
thiserror = "1.0.20"
rmp = "0.8.7"
rmp-serde = "0.13.7"
serde = "1.0.80"
serde_derive = "1.0.80"
tari_utilities = "^0.3"
bytes = "0.4.12"

[dev-dependencies]
rand = "0.5.5"
env_logger = "0.6.2"
