[workspace]

members = [
    "base_layer/core",
    "base_layer/keymanager",
    "base_layer/mempool",
    "base_layer/mining",
    "base_layer/p2p",
    "base_layer/wallet",
    "comms",
    "digital_assets_layer/core",
    "infrastructure/crypto",
    "infrastructure/storage",
    "infrastructure/merklemountainrange",
    "applications/grpc_wallet",
    "applications/console_text_messenger",
]
