[workspace]

members = [
    "base_layer/core",
    "base_layer/common_types",
    "base_layer/key_manager",
    "base_layer/mmr",
    "base_layer/p2p",
    "base_layer/service_framework",
    "base_layer/wallet",
    "base_layer/wallet_ffi",
    "base_layer/tari_mining_helper_ffi",
    "comms/core",
    "comms/dht",
    "comms/rpc_macros",
    "dan_layer/core",
    "dan_layer/storage_sqlite",
    "common_sqlite",
    "infrastructure/libtor",
    "infrastructure/metrics",
    "infrastructure/shutdown",
    "infrastructure/storage",
    "infrastructure/tari_script",
    "infrastructure/test_utils",
    "applications/deps_only",
    "applications/launchpad/backend",
    "applications/launchpad_v2/src-tauri",
    "applications/tari_base_node",
    "applications/tari_console_wallet",
    "applications/tari_collectibles/src-tauri",
    "applications/test_faucet",
    "applications/tari_app_utilities",
    "applications/tari_merge_mining_proxy",
    "applications/tari_mining_node",
    "applications/tari_validator_node",

]
#
#[profile.release]
#debug = true

# Shutdown when panicking so we can see the error, specifically for the wallet
[profile.release]
panic = 'abort'

[patch.crates-io]
# Temporarily lock pgp to commit (master branch at time of writing) because the currently release crate locks zeroize to =1.3
#pgp = { git = "https://github.com/rpgp/rpgp.git", rev = "21081b6aaaaa5750ab937cfef30bae879a740d23" }
pgp = { git = "https://github.com/tari-project/rpgp.git", rev = "32939dbe86565d5ede769a7907ec42dfdf353849" }
