[workspace]

members = [
    "base_layer/core",
    "base_layer/common_types",
    "base_layer/key_manager",
    "base_layer/mmr",
    "base_layer/p2p",
    "base_layer/service_framework",
    "base_layer/wallet",
    "base_layer/wallet_ffi",
    "comms",
    "comms/dht",
    "comms/rpc_macros",
    "infrastructure/shutdown",
    "infrastructure/storage",
    "infrastructure/test_utils",
    "applications/tari_base_node",
    #"applications/tari_console_wallet",
    "applications/test_faucet",
    "applications/tari_app_utilities",
    "applications/tari_merge_mining_proxy",
    "applications/tari_mining_node",
]
