[workspace]

members = [
    "base_layer/core",
    "base_layer/key_manager",
    "base_layer/mmr",
    "base_layer/p2p",
    "base_layer/service_framework",
    "base_layer/wallet",
    "base_layer/wallet_ffi",
    "comms",
    "comms/dht",
    "infrastructure/shutdown",
    "infrastructure/storage",
    "infrastructure/test_utils",
    "applications/tari_base_node",
    "applications/tari_console_wallet",
    "applications/test_faucet",
    "applications/tari_conduit",
]