[build.env]
passthrough = [
  "CFLAGS",
  "TARGET",
  "RUST_TARGET",
  "BUILD_TARGET",
  "CARGO_BUILD_TARGET",
  "TARGET_CFLAGS",
  "CC_aarch64_unknown_linux_gnu",
  "PKG_CONFIG_SYSROOT_DIR",
  "PKG_CONFIG_ALLOW_CROSS",
  "RUSTFLAGS",
  "RUST_BACKTRACE",
  "RUST_DEBUG",
  "RUST_LOG",
  "ARCH",
  "FEATURES",
  "ROARING_ARCH",
  "TARI_NETWORK",
  "TARI_TARGET_NETWORK",
  "TARI_NETWORK_DIR",
]

[target.x86_64-linux-android]
image = "ghcr.io/cross-rs/x86_64-linux-android:edge"
pre-build = [ """
export DEBIAN_FRONTEND=noninteractive && \
apt-get update && \
apt-get --assume-yes --no-install-recommends install \
 curl unzip && \
curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v26.1/protoc-26.1-linux-x86_64.zip && \
unzip -o protoc-26.1-linux-x86_64.zip -d /usr/ && \
/usr/bin/protoc --version
""" ]

[target.x86_64-linux-android.env]
passthrough = [
  "CFLAGS=-DMDB_USE_ROBUST=0",
]

[target.aarch64-linux-android]
image = "ghcr.io/cross-rs/aarch64-linux-android:edge"
pre-build = [ """
export DEBIAN_FRONTEND=noninteractive && \
apt-get update && \
apt-get --assume-yes --no-install-recommends install \
 curl unzip && \
curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v26.1/protoc-26.1-linux-x86_64.zip && \
unzip -o protoc-26.1-linux-x86_64.zip -d /usr/ && \
/usr/bin/protoc --version
""" ]

[target.aarch64-linux-android.env]
passthrough = [
  "CFLAGS=-DMDB_USE_ROBUST=0",
]

# Currently needs cross-rs from git
# ```cargo install cross --git https://github.com/cross-rs/cross```
[target.aarch64-unknown-linux-gnu]
image.name = "ubuntu:18.04"
# targetting is needed for apple silicon
image.toolchain = ["linux/arm64=aarch64-unknown-linux-gnu", "linux/amd64=x86_64-unknown-linux-gnu"]
pre-build = "./scripts/cross_compile_ubuntu_18-pre-build.sh"

[target.aarch64-unknown-linux-gnu.env]
passthrough = [
  "PKG_CONFIG_ALLOW_CROSS=true",
]

[target.x86_64-unknown-linux-gnu]
image = "ubuntu:18.04"
pre-build = "./scripts/cross_compile_ubuntu_18-pre-build.sh"

[target.x86_64-unknown-linux-gnu.env]
passthrough = [
  "PKG_CONFIG_ALLOW_CROSS=true",
]

[target.riscv64gc-unknown-linux-gnu]
#image.name = "riscv64/ubuntu:22.04"
#image.toolchain = ["linux/riscv64=riscv64-unknown-linux-gnu", "linux/arm64=aarch64-unknown-linux-gnu", "linux/amd64=x86_64-unknown-linux-gnu"]
image.name = "ubuntu:22.04"
image.toolchain = ["linux/arm64=aarch64-unknown-linux-gnu", "linux/amd64=x86_64-unknown-linux-gnu"]
pre-build = "./scripts/cross_compile_ubuntu_18-pre-build.sh"

[target.riscv64gc-unknown-linux-gnu.env]
passthrough = [
#  "RISCV64GC_UNKNOWN_LINUX_GNU_OPENSSL_NO_VENDOR=true",
  "RISCV64GC_UNKNOWN_LINUX_GNU_OPENSSL_INCLUDE_DIR=/usr/include/riscv64-linux-gnu/openssl/",
  "RISCV64GC_UNKNOWN_LINUX_GNU_OPENSSL_LIB_DIR=/usr/lib/riscv64-linux-gnu/",
  "RUSTFLAGS=-L /usr/riscv64-linux-gnu/lib/ -L /usr/lib/riscv64-linux-gnu/",
  "PKG_CONFIG_SYSROOT_DIR=/usr/lib/riscv64-linux-gnu/pkgconfig",
  "PKG_CONFIG_PATH=/usr/lib/riscv64-linux-gnu/pkgconfig",
  "PKG_CONFIG_ALLOW_CROSS=true",
]
