[package]
name = "tari_test_utils"
description = "Utility functions used in Tari test functions"
version = "0.28.1"
authors = ["The Tari Development Community"]
edition = "2018"
license = "BSD-3-Clause"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tari_shutdown = { version = "*", path = "../shutdown" }

futures = { version = "^0.3.1" }
rand = "0.8"
tokio = { version = "1.11", features = ["rt-multi-thread", "time"] }
tempfile = "3.1.0"

[dev-dependencies]
futures-test = { version = "^0.3.1" }