[package]
name = "tari_mining_node"
authors = ["The Tari Development Community"]
description = "The tari mining node implementation"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.28.1"
edition = "2018"

[dependencies]
tari_core = { path = "../../base_layer/core",  default-features = false }
tari_common = {  path = "../../common" }
tari_comms = {  path = "../../comms" }
tari_app_utilities = { path = "../tari_app_utilities"}
tari_app_grpc = {  path = "../tari_app_grpc" }
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", branch = "main" }
tari_utilities = "0.3.0"

crossbeam = "0.8"
futures = "0.3"
log = { version = "0.4", features = ["std"] }
num_cpus = "1.13"
prost-types = "0.9"
rand = "0.8"
sha3 = "0.9"
serde = { version = "1.0", default_features = false, features = ["derive"] }
tonic = { version = "0.6.2", features = ["transport"] }
tokio = { version = "1.11", default_features = false, features = ["rt-multi-thread"] }
thiserror = "1.0"
reqwest = { version = "0.11", features = [ "json"] }
serde_json = "1.0.57"
native-tls = "0.2"
bufstream = "0.1"
chrono = { version = "0.4.19", default-features = false }
hex = "0.4.2"

[dev-dependencies]
prost-types = "0.9"
chrono = { version = "0.4.19", default-features = false }
