[package]
name = "tari_mining_helper_ffi"
authors = ["The Tari Development Community"]
description = "Tari cryptocurrency miningcore C FFI bindings"
license = "BSD-3-Clause"
version = "0.30.2"
edition = "2018"

[dependencies]
tari_comms = { version = "^0.31", path = "../../comms/core" }
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", tag = "v0.13.0" }
tari_common = {  path = "../../common" }
tari_core = {  path = "../core", default-features = false, features = ["transactions"]}
tari_utilities = { git = "https://github.com/tari-project/tari_utilities.git", tag = "v0.4.3" }
libc = "0.2.65"
thiserror = "1.0.26"
hex = "0.4.2"
serde = { version="1.0.106", features = ["derive"] }
serde_json = "1.0.57"

[lib]
crate-type = ["staticlib","cdylib"]
