[package]
name = "tari_script"
version = "1.0.0-pre.11a"
edition = "2021"
description = "Tari script library"
authors = ["The Tari Development Community"]
repository = "https://github.com/tari-project/tari"
categories = ["cryptography"]
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"

[dependencies]
tari_crypto = { version = "0.20" }
tari_utilities = { version = "0.7" }

blake2 = "0.10"
borsh = "1.2"
digest = "0.10"
integer-encoding = "3.0.2"
serde = "1.0.136"
sha2 = "0.10"
sha3 = "0.10"
thiserror = "1.0.30"

[dev-dependencies]
rand = "0.8"
