[package]
name = "tari_script"
version = "0.12.0"
edition = "2021"
description = "Tari script library"
authors = ["The Tari Development Community"]
repository = "https://github.com/tari-project/tari"
categories = ["cryptography"]
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"

[dependencies]
tari_crypto = { version = "0.16"}
tari_utilities = "0.4.10"

blake2 = "0.9"
borsh = "0.9.3"
digest = "0.9.0"
integer-encoding = "3.0.2"
serde = "1.0.136"
sha2 = "0.9"
sha3 = "0.9"
thiserror = "1.0.30"

[dev-dependencies]
rand = "0.7.3"
