[package]
name = "tari_key_manager"
authors = ["The Tari Development Community"]
description = "Tari cryptocurrency wallet key management"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.8.9"
edition = "2018"

[dependencies]
tari_crypto = "^0.8"
rand = "0.7.2"
digest = "0.8.0"
sha2 = "0.8.0"
serde = "1.0.89"
serde_derive = "1.0.89"
serde_json = "1.0.39"
thiserror = "1.0.20"

[features]
avx2 = ["tari_crypto/avx2"]
