[package]
name = "tari_key_manager"
authors = ["The Tari Development Community"]
description = "Tari cryptocurrency wallet key management"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.11.0"
edition = "2018"

[dependencies]
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", branch = "main" }
rand = "0.8"
digest = "0.9.0"
serde = "1.0.89"
serde_derive = "1.0.89"
serde_json = "1.0.39"
thiserror = "1.0.26"

[dev-dependencies]
sha2 = "0.9.8"

[features]
avx2 = ["tari_crypto/avx2"]
