[package]
name = "tari_key_manager"
authors = ["The Tari Development Community"]
description = "Tari cryptocurrency wallet key management"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.48.0"
edition = "2021"

[lib]
crate-type = ["lib", "cdylib"]

# NB: All dependencies must support or be gated for the WASM target.
[dependencies]
tari_common_types = {  path = "../../base_layer/common_types", optional = true }
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", tag = "v0.16.6" }
tari_utilities = { git = "https://github.com/tari-project/tari_utilities.git", tag="v0.4.10" }

argon2 = { version = "0.4.1", features = ["std", "alloc"] }
blake2 = "0.9.1"
chacha20 = "0.7.1"
console_error_panic_hook = { version = "0.1.7", optional = true }
crc32fast = "1.2.1"
derivative = "2.2.0"
digest = "0.9.0"
js-sys = { version = "0.3.55", optional = true }
rand = "0.7.3"
serde = "1.0.89"
thiserror = "1.0.26"
strum_macros = "0.22"
strum = { version = "0.22", features = ["derive"] }
wasm-bindgen = { version = "0.2", features = ["serde-serialize", "nightly"], optional = true }
zeroize = "1"
subtle = "2.4.1"

[dev-dependencies]
sha2 = "0.9.8"
wasm-bindgen-test = "0.3.28"

[features]
avx2 = ["tari_crypto/simd_backend"]
js = [ "js-sys"]
wasm = ["tari_crypto/wasm", "wasm-bindgen", "js", "tari_common_types", "console_error_panic_hook"]
