########################################################################################################################
#                                                                                                                      #
#                                          Common Configuration Options                                                #
#                                                                                                                      #
########################################################################################################################

[common]
#override_from="dibbler"
#base_path="<HOME>/.tari"
#data_dir="data"

[auto_update]
override_from = "dibbler"
# This interval in seconds to check for software updates. Setting this to 0 disables checking.
check_interval = 300

[dibbler.auto_update]
# Customize the hosts that are used to check for updates. These hosts must contain update information in DNS TXT records.
update_uris = ["updates.dibbler.taripulse.com"]
# Customize the location of the update SHA hashes and maintainer-signed signature.
# "auto_update.hashes_url" = "https://<address>/hashes.txt"
# "auto_update.hashes_sig_url" = "https://<address>/hashes.txt.sig"