########################################################################################################################
#                                                                                                                      #
#                                             Merge Mining Configuration Options                                      #
#                                                                                                                      #
########################################################################################################################

[merge_mining_proxy]
config = "dibbler"
monerod_url = [ # stagenet
"http://stagenet.xmr-tw.org:38081",
"http://stagenet.community.xmr.to:38081",
"http://monero-stagenet.exan.tech:38081",
"http://xmr-lux.boldsuck.org:38081",
"http://singapore.node.xmr.pm:38081",
]
grpc_base_node_address = "/ip4/127.0.0.1/tcp/18142"
grpc_console_wallet_address = "/ip4/127.0.0.1/tcp/18143"

# Address of the tari_merge_mining_proxy application
proxy_host_address = "/ip4/127.0.0.1/tcp/18081"

# In sole merged mining, the block solution is usually submitted to the Monero blockchain
# (monerod) as well as to the Tari blockchain, then this setting should be "true". With pool
# merged mining, there is no sense in submitting the solution to the Monero blockchain as the
# pool does that, then this setting should be "false". (default = true).
proxy_submit_to_origin = true

# The merge mining proxy can either wait for the base node to achieve initial sync at startup before it enables mining,
# or not. If merge mining starts before the base node has achieved initial sync, those Tari mined blocks will not be
# accepted. (Default value = true; will wait for base node initial sync).
#wait_for_initial_sync_at_startup = true

# Monero auth params
monerod_username = ""
monerod_password = ""
monerod_use_auth = false

[merge_mining_proxy.dibbler]
# Put any network specific settings here


