version: 2

defaults:
  rust_image: &rust_image rust:1.32

jobs:
  test-docs:
    docker:
      - image: *rust_image
    steps:
      - checkout
      - run:
          name: RFC documentation
          command: |
            (test -x $HOME/.cargo/bin/mdbook || cargo install --vers "^0.2" mdbook)
            cd RFC && mdbook test && mdbook build

      - persist_to_workspace:
          root: .
          paths: book

  deploy-docs:
    docker:
      - image: node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: book
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "ci-build@tari.com"
            git config user.name "ci-build"
      - add_ssh_keys:
          fingerprints:
            - "a6:a6:e2:be:a3:94:3e:4c:9d:51:25:f6:98:f9:0c:a4"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dotfiles --message "[skip ci] Updates" --dist book --dest .

  test-tari:
    docker:
      - image: *rust_image
    steps:
      - checkout
      - run:
          name: Tari source code
          command: |
            # https://mexus.github.io/rustup-components-history/x86_64-unknown-linux-gnu.html
            NIGHTLY_VERSION=nightly-2019-03-08
            rustup update $NIGHTLY_VERSION
            rustup default $NIGHTLY_VERSION
            rustup component add --toolchain $NIGHTLY_VERSION rustfmt
            cargo fmt --all -- --check
            cargo test --all

workflows:
  version: 2
  workflow:
    jobs:
      - test-docs
      - test-tari
      - deploy-docs:
          requires:
            - test-docs
          filters:
            branches:
              only: development

