[package]
name = "tari_common_types"
authors = ["The Tari Development Community"]
description = "Tari cryptocurrency common types"
license = "BSD-3-Clause"
version = "0.27.2"
edition = "2018"

[dependencies]
rand = "0.8"
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", branch = "main" }
serde = { version = "1.0.106", features = ["derive"] }
tokio = { version = "1.11", features = ["time", "sync"] }
lazy_static = "1.4.0"
digest = "0.9.0"
thiserror = "1.0.29"
