[package]
name = "tari_common_types"
authors = ["The Tari Development Community"]
description = "Tari cryptocurrency common types"
license = "BSD-3-Clause"
version = "0.48.0-rc.0"
edition = "2018"

[dependencies]
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", tag = "v0.16.6" }
tari_utilities = { git = "https://github.com/tari-project/tari_utilities.git", tag="v0.4.10" }
# TODO: remove this dependency and move Network into tari_common_types
tari_common = {  path = "../../common" }


borsh = "0.9.3"
digest = "0.9.0"
lazy_static = "1.4.0"
newtype-ops = "0.1"
rand = "0.7.3"
serde = { version = "1.0.106", features = ["derive"] }
thiserror = "1.0.29"
tokio = { version = "1.23", features = ["time", "sync"] }
