[package]
name = "tari_common_types"
authors = ["The Tari Development Community"]
description = "Tari cryptocurrency common types"
license = "BSD-3-Clause"
version = "1.4.2-rc.2"
edition = "2018"

[dependencies]
tari_crypto = { version = "0.20.3" }
tari_utilities = { version = "0.7" }
tari_common = { path = "../../common", version = "1.4.2-rc.2" }
minotari_ledger_wallet_common = { path = "../../applications/minotari_ledger_wallet/common" }
chacha20poly1305 = "0.10.1"
bitflags = { version = "2.4", features = ["serde"] }
borsh = "1.2"
bs58 = "0.5.1"
digest = "0.10"
newtype-ops = "0.1"
once_cell = "1.8.0"
rand = "0.8"
serde = { version = "1.0.106", features = ["derive"] }
strum = "0.22"
strum_macros = "0.22"
thiserror = "1.0.29"
base64 = "0.21.0"
blake2 = "0.10"
primitive-types = { version = "0.12", features = ["serde"] }

[features]
default = []

[package.metadata.cargo-machete]
ignored = ["strum", "strum_macros"] # this is so we can run cargo machete without getting false positive about macro dependancies
