BUILD_ANDROID=1
BUILD_IOS=1
SQLITE_SOURCE=https://www.sqlite.org/snapshot/sqlite-snapshot-201911192122.tar.gz
OPENSSL_VERSION=1.1.1h
NDK_PATH=/Users/user/Desktop/android-ndk-r20
PKG_PATH=/usr/local/opt/openssl@1.1/lib/pkgconfig
ANDROID_WALLET_PATH=$HOME/Desktop/wallet-android
IOS_WALLET_PATH=$HOME/Desktop/wallet-ios
TARI_REPO_PATH=$HOME/Desktop/tari-main
# Run cargo clean before the build starts
CARGO_CLEAN=1