BUILD_ANDROID=1
BUILD_IOS=1
SQLITE_SOURCE=https://www.sqlite.org/snapshot/sqlite-snapshot-201911192122.tar.gz
NDK_PATH=/Users/user/Desktop/android-ndk-r20
PKG_PATH=/usr/local/Cellar/zeromq/4.3.2/lib/pkgconfig
ANDROID_WALLET_PATH=/Users/user/Desktop/wallet-android
IOS_WALLET_PATH=/Users/user/Desktop/wallet-ios
TARI_REPO_PATH=/Users/user/Desktop/tari-main