[package]
name = "wallet_ffi"
version = "0.0.5"
edition = "2018"

[dependencies]
tari_comms = { path = "../../comms", version = "^0.0"}
tari_comms_dht = { path = "../../comms/dht", version = "^0.0"}
tari_crypto = { path = "../../infrastructure/crypto", version = "^0.0" }
tari_p2p = {path = "../p2p", version = "^0.0"}
tari_transactions = { path = "../transactions", version="^0.0"}
tari_utilities = { path = "../../infrastructure/tari_util", version = "^0.0"}
tari_wallet = { path = "../wallet", version = "^0.0", features = ["test_harness", "c_integration"]}

futures =  { version = "=0.3.0-alpha.19", package = "futures-preview", features =["compat", "std"]}
tokio = "0.2.0-alpha.4"
libc = "0.2.65"
rand = "0.5.5"
chrono = { version = "0.4.6", features = ["serde"]}
tari_broadcast_channel = { version="^0.0",  path = "../../infrastructure/broadcast_channel" }
derive-error = "0.0.4"
log = "0.4.6"

[lib]
crate-type = ["staticlib","cdylib"]

[dev-dependencies]
tempdir = "0.3.7"