[package]
name = "tari_wallet_ffi"
authors = ["The Tari Development Community"]
description = "Tari cryptocurrency wallet C FFI bindings"
license = "BSD-3-Clause"
version = "0.28.1"
edition = "2018"

[dependencies]
tari_comms = { version = "^0.28", path = "../../comms", features = ["c_integration"]}
tari_comms_dht = { version = "^0.28", path = "../../comms/dht", default-features = false }
tari_common_types = {path="../common_types"}
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", branch = "main" }
tari_key_manager = { version = "^0.28", path = "../key_manager" }
tari_p2p = { version = "^0.28", path = "../p2p" }
tari_wallet = { version = "^0.28", path = "../wallet", features = ["c_integration"]}
tari_shutdown = { version = "^0.28", path = "../../infrastructure/shutdown" }
tari_utilities = "^0.3"

chrono = { version = "0.4.19", default-features = false, features = ["serde"] }
futures =  { version = "^0.3.1", features =["compat", "std"]}
libc = "0.2.65"
log = "0.4.6"
log4rs = {version = "1.0.0", features = ["console_appender", "file_appender", "yaml_format"]}
openssl = { version = "0.10", features = ["vendored"] }
rand = "0.8"
thiserror = "1.0.26"
tokio = "1.11"

# <workaround>
# Temporary workaround until crates utilizing openssl have been updated from security-framework 2.4.0
# which is currently broken for iOS
[target.x86_64-apple-ios.dependencies]
security-framework = "2.4.2"

[target.aarch64-apple-ios.dependencies]
security-framework = "2.4.2"
# </workaround>

[dependencies.tari_core]
path = "../../base_layer/core"
version = "^0.28"
default-features = false
features = ["transactions"]

[lib]
crate-type = ["staticlib","cdylib"]

[dev-dependencies]
tempfile = "3.1.0"
lazy_static = "1.3.0"
tari_key_manager = { version = "^0.28", path = "../key_manager" }
tari_common_types = { version = "^0.28", path = "../../base_layer/common_types"}
tari_test_utils = { version = "^0.28", path = "../../infrastructure/test_utils"}
tari_service_framework = { path = "../../base_layer/service_framework" }
