BUILD_ANDROID=0
BUILD_IOS=1
SQLITE_SOURCE=https://www.sqlite.org/snapshot/sqlite-snapshot-201911192122.tar.gz
NDK_PATH=
PKG_PATH=/usr/local/opt/openssl/lib/pkgconfig
ANDROID_WALLET_PATH=
IOS_WALLET_PATH=$GITHUB_WORKSPACE
TARI_REPO_PATH=$GITHUB_WORKSPACE
# Run cargo clean before the build starts
CARGO_CLEAN=1