[package]
name = "tari_libtor"
version = "0.24.0"
edition = "2021"

[dependencies]
tari_common = { path = "../../common" }
log = "0.4.8"
log4rs = { version = "1.0.0", default_features = false, features = ["config_parsing", "threshold_filter", "yaml_format"] }
multiaddr = { version = "0.13.0" }

# NB: make sure this crate is not included in any other crate used by wallet_ffi
[target.'cfg(unix)'.dependencies]
tari_shutdown = { version = "^0.28", path = "../shutdown"}
libtor = { version = "46.9.0", optional = true }
rand = "0.8"
tempfile = "3.1.0"
tor-hash-passwd = "1.0.1"
