[package]
name = "tari_libtor"
version = "1.0.0-pre.11a"
edition = "2021"
license = "BSD-3-Clause"

[dependencies]
tari_common = { path = "../../common" }
tari_p2p = { path = "../../base_layer/p2p" }

derivative = "2.2.0"
log = "0.4.8"
rand = "0.8"
tempfile = "3.1.0"
tor-hash-passwd = "1.0.1"

[target.'cfg(unix)'.dependencies]
libtor = { version = "46.9.0" }
openssl = { version = "0.10.61", features = ["vendored"] }

[package.metadata.cargo-machete]
ignored = ["openssl"] # this is so we can run cargo machete without getting false positive about macro dependancies