[package]
name = "tari_app_utilities"
version = "0.11.0"
authors = ["The Tari Development Community"]
edition = "2018"

[dependencies]
tari_comms = { path = "../../comms" }
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", branch = "main" }
tari_common = { path = "../../common" }
tari_common_types = { path = "../../base_layer/common_types" }
tari_p2p = { path = "../../base_layer/p2p", features = ["auto-update"] }
tari_wallet = { path = "../../base_layer/wallet", optional = true }

config = { version = "0.9.3" }
futures = { version = "^0.3.16", default-features = false, features = ["alloc"] }
qrcode = { version = "0.12" }
dirs-next = "1.0.2"
serde_json = "1.0"
log = { version = "0.4.8", features = ["std"] }
rand = "0.8"
tokio = { version = "1.11", features = ["signal"] }
structopt = { version = "0.3.13", default_features = false }
strum = "^0.19"
strum_macros = "^0.19"
thiserror = "^1.0.26"
tonic = "0.5.2"

[dependencies.tari_core]
path = "../../base_layer/core"
default-features = false
features = ["transactions", "base_node_proto"]

[build-dependencies]
tari_common = { path = "../../common", features = ["build", "static-application-info"] }

[features]
# TODO: This crate is supposed to hold common logic. Move code from this feature into the crate that is more specific to the wallet
wallet = ["tari_wallet"]
