[package]
name = "tari_app_utilities"
version = "0.28.1"
authors = ["The Tari Development Community"]
edition = "2018"

[dependencies]
tari_comms = { path = "../../comms" }
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", branch = "main" }
tari_common = { path = "../../common" }
tari_common_types = { path = "../../base_layer/common_types" }
tari_p2p = { path = "../../base_layer/p2p", features = ["auto-update"] }
tari_utilities = "0.3.0"

config = { version = "0.9.3" }
futures = { version = "^0.3.16", default-features = false, features = ["alloc"] }
dirs-next = "1.0.2"
json5 = "0.2.2"
log = { version = "0.4.8", features = ["std"] }
rand = "0.8"
tokio = { version = "1.11", features = ["signal"] }
serde = "1.0.126"
structopt = { version = "0.3.13", default_features = false }
thiserror = "^1.0.26"

[build-dependencies]
tari_common = { path = "../../common", features = ["build", "static-application-info"] }
