[package]
name = "minotari_wallet"
authors = ["The Tari Development Community"]
description = "Tari cryptocurrency wallet library"
license = "BSD-3-Clause"
version = "1.0.0-pre.11a"
edition = "2018"

[dependencies]
tari_core = { path = "../../base_layer/core",  default-features = false, features = ["transactions", "mempool_proto", "base_node_proto"], version = "1.0.0-pre.11a" }
tari_common = { path = "../../common", version = "1.0.0-pre.11a" }
tari_common_types = {  path = "../../base_layer/common_types", version = "1.0.0-pre.11a" }
tari_comms = {  path = "../../comms/core", version = "1.0.0-pre.11a" }
tari_comms_dht = {  path = "../../comms/dht", version = "1.0.0-pre.11a" }
tari_crypto = { version = "0.20" }
tari_key_manager = {  path = "../key_manager", features = ["key_manager_service"], version = "1.0.0-pre.11a" }
tari_p2p = {  path = "../p2p", features = ["auto-update"], version = "1.0.0-pre.11a"}
tari_script = { path = "../../infrastructure/tari_script", version = "1.0.0-pre.11a" }
tari_service_framework = {  path = "../service_framework", version = "1.0.0-pre.11a" }
tari_shutdown = {  path = "../../infrastructure/shutdown", version = "1.0.0-pre.11a" }
tari_common_sqlite = { path = "../../common_sqlite", version = "1.0.0-pre.11a" }
tari_utilities = { version = "0.7" }
tari_contacts = { path = "../../base_layer/contacts", version = "1.0.0-pre.11a" }

# Uncomment for tokio tracing via tokio-console (needs "tracing" features)
#console-subscriber = "0.1.3"
#tokio = { version = "1.36", features = ["sync", "macros", "tracing"] }
# Uncomment for normal use (non tokio-console tracing)
tokio = { version = "1.36", features = ["sync", "macros"] }

async-trait = "0.1.50"
argon2 = "0.4.1"
bincode = "1.3.1"
blake2 = "0.10"
borsh = "1.2"
sha2 = "0.10"
chrono = { version = "0.4.19", default-features = false, features = ["serde"] }
derivative = "2.2.0"
diesel = { version = "2.0.3", features = ["sqlite", "serde_json", "chrono", "64-column-tables"] }
diesel_migrations = "2.0.0"
digest = "0.10"
fs2 = "0.4.0"
futures = { version = "^0.3.1", features = ["compat", "std"] }
libsqlite3-sys = { version = "0.25.1", features = ["bundled"], optional = true }
log = "0.4.6"
rand = "0.8"
serde = { version = "1.0.89", features = ["derive"] }
serde_json = "1.0.39"
strum = "0.22"
strum_macros = "0.22"
tempfile = "3.1.0"
thiserror = "1.0.26"
tower = "0.4"
prost = "0.11.9"
itertools = "0.10.3"
chacha20poly1305 = "0.10.1"
zeroize = "1"

[build-dependencies]
tari_common = { path = "../../common", features = ["build", "static-application-info"], version = "1.0.0-pre.11a" }

[dev-dependencies]
tari_p2p = {  path = "../p2p", features = ["test-mocks"] }
tari_comms_dht = {  path = "../../comms/dht", features = ["test-mocks"] }
tari_test_utils = {  path = "../../infrastructure/test_utils" }
tari_core = { path = "../../base_layer/core",  default-features = false, features = ["transactions", "mempool_proto", "base_node_proto", "base_node"] }
env_logger = "0.7.1"
prost = "0.11.9"

[features]
default = ["bundled_sqlite"]
c_integration = []
bundled_sqlite = ["libsqlite3-sys"]

[package.metadata.cargo-machete]
ignored = ["libsqlite3-sys"] # this is so we can run cargo machete without getting false positive about macro dependancies
