[package]
name = "tari_wallet"
authors = ["The Tari Development Community"]
description = "Tari cryptocurrency wallet library"
license = "BSD-3-Clause"
version = "0.2.2"
edition = "2018"

[dependencies]
tari_comms = { version = "^0.2", path = "../../comms"}
tari_comms_dht = { version = "^0.2.1", path = "../../comms/dht" }
tari_crypto = { version = "^0.7", path = "../../../tari_crypto" }
tari_key_manager = { version = "^0.2", path = "../key_manager" }
tari_p2p = { version = "^0.2", path = "../p2p" }
tari_service_framework = { version = "^0.2", path = "../service_framework"}
tari_shutdown = { version = "^0.0", path = "../../infrastructure/shutdown" }
tari_storage = { version = "^0.2", path = "../../infrastructure/storage"}

chrono = { version = "0.4.6", features = ["serde"]}
time = {version = "0.1.39"}
thiserror = "1.0.20"
digest = "0.8.0"
blake2 = "0.8.0"
serde = {version = "1.0.89", features = ["derive"] }
serde_json = "1.0.39"
crossbeam-channel = "0.3.8"
lazy_static = "1.4.0"
log = "0.4.6"
log4rs = {version = "0.8.3", features = ["console_appender", "file_appender", "file", "yaml_format"]}
lmdb-zero = "0.4.4"
diesel_migrations =  "1.4"
diesel = {version="1.4", features = ["sqlite", "serde_json", "chrono"]}
rand = "0.7.2"
futures =  { version = "^0.3.1", features =["compat", "std"]}
tokio = { version = "0.2.10", features = ["blocking", "sync"]}
tower = "0.3.0-alpha.2"
tempfile = "3.1.0"
tari_test_utils = { version = "^0.2", path = "../../infrastructure/test_utils", optional = true}
aes-gcm = "0.6.0"

[dependencies.tari_core]
path = "../../base_layer/core"
version = "^0.2"
default-features = false
features = ["transactions", "mempool_proto", "base_node_proto"]

[dev-dependencies]
tari_p2p = { version = "^0.2", path = "../p2p", features=["test-mocks"]}
tari_comms_dht = { version = "^0.2", path = "../../comms/dht", features=["test-mocks"]}
tari_test_utils = { version = "^0.2", path = "../../infrastructure/test_utils" }
lazy_static = "1.3.0"
env_logger = "0.7.1"
prost = "0.6.1"
tokio-macros = "0.2.4"

[features]
test_harness = ["tari_test_utils"]
c_integration = []
avx2 = ["tari_crypto/avx2", "tari_core/avx2"]