[package]
name = "tari_wallet"
version = "0.0.5"
edition = "2018"

[features]
test_harness = ["tari_test_utils"]
c_integration = []

[dependencies]
tari_broadcast_channel = { version="^0.0",  path = "../../infrastructure/broadcast_channel" }
tari_comms = { path = "../../comms", version = "^0.0"}
tari_comms_dht = { path = "../../comms/dht", version = "^0.0"}
tari_crypto = { path = "../../infrastructure/crypto", version = "^0.0" }
tari_key_manager = {path = "../key_manager", version = "^0.0"}
tari_p2p = {path = "../p2p", version = "^0.0"}
tari_pubsub = {path = "../../infrastructure/pubsub", version = "^0.0"}
tari_service_framework = { version = "^0.0", path = "../service_framework"}
tari_shutdown = { path = "../../infrastructure/shutdown", version = "^0.0"}
tari_storage = { version = "^0.0", path = "../../infrastructure/storage"}
tari_utilities = { path = "../../infrastructure/tari_util", version = "^0.1"}

chrono = { version = "0.4.6", features = ["serde"]}
time = {version = "0.1.39"}
derive-error = "0.0.4"
digest = "0.8.0"
blake2 = "0.8.0"
serde = {version = "1.0.89", features = ["derive"] }
serde_json = "1.0.39"
crossbeam-channel = "0.3.8"
log = "0.4.6"
log4rs = {version = "0.8.3", features = ["console_appender", "file_appender", "file", "yaml_format"]}
lmdb-zero = "0.4.4"
diesel_migrations =  "1.4"
diesel = {version="1.4", features = ["sqlite", "serde_json", "chrono", "r2d2"]}
rand = "0.7.2"
futures =  { version = "^0.3.1", features =["compat", "std"]}
tokio = { version = "0.2.10", features = ["blocking"]}
tower = "0.3.0-alpha.2"
tempdir = "0.3.7"
tari_test_utils = { path = "../../infrastructure/test_utils", version = "^0.0", optional = true}

[dev-dependencies]
tari_comms_dht = { path = "../../comms/dht", version = "^0.0", features=["test-mocks"]}
tari_test_utils = { path = "../../infrastructure/test_utils", version = "^0.0"}
lazy_static = "1.3.0"
env_logger = "0.6.2"
prost = "0.6.1"

[dependencies.tari_core]
path = "../../base_layer/core"
version = "^0.0"
default-features = false
features = ["transactions", "mempool_proto", "base_node_proto"]
