[package]
name = "tari_wallet"
version = "0.0.5"
edition = "2018"

[dependencies]
tari_core = { path = "../core", version="^0.0"}
tari_crypto = { path = "../../infrastructure/crypto", version = "^0.0" }
tari_utilities = { path = "../../infrastructure/tari_util", version = "^0.0"}
tari_comms = { path = "../../comms", version = "^0.0"}
tari_p2p = {path = "../p2p", version = "^0.0"}
tari_key_manager = {path = "../keymanager", version = "^0.0"}
chrono = { version = "0.4.6", features = ["serde"]}
derive-error = "0.0.4"
digest = "0.8.0"
serde = {version = "1.0.89", features = ["derive"] }
crossbeam-channel = "0.3.8"
log = "0.4.6"
lmdb-zero = "0.4.4"
tari_storage = { version = "^0.0", path = "../../infrastructure/storage"}
diesel_migrations =  "1.4"
diesel = {version="1.4", features = ["sqlite", "serde_json", "chrono"]}
rand = "0.5.5"
futures =  { version = "=0.3.0-alpha.18", package = "futures-preview", features =["compat", "std"]}

[dev-dependencies]
env_logger = "0.6.2"

