[package]
name = "tari_wallet"
version = "0.0.5"
edition = "2018"

[dependencies]
tari_broadcast_channel = { version="^0.0",  path = "../../infrastructure/broadcast_channel" }
tari_comms = { path = "../../comms", version = "^0.0"}
tari_comms_dht = { path = "../../comms/dht", version = "^0.0"}
tari_comms_middleware = { path = "../../comms/middleware", version = "^0.0"}
tari_core = { path = "../core", version="^0.0"}
tari_crypto = { path = "../../infrastructure/crypto", version = "^0.0" }
tari_key_manager = {path = "../keymanager", version = "^0.0"}
tari_p2p = {path = "../p2p", version = "^0.0"}
tari_pubsub = {path = "../../infrastructure/pubsub", version = "^0.0"}
tari_service_framework = { version = "^0.0", path = "../service_framework"}
tari_storage = { version = "^0.0", path = "../../infrastructure/storage"}
tari_utilities = { path = "../../infrastructure/tari_util", version = "^0.0"}
tari_shutdown = { path = "../../infrastructure/shutdown", version = "^0.0"}

chrono = { version = "0.4.6", features = ["serde"]}
time = {version = "0.1.39"}
derive-error = "0.0.4"
digest = "0.8.0"
serde = {version = "1.0.89", features = ["derive"] }
crossbeam-channel = "0.3.8"
log = "0.4.6"
lmdb-zero = "0.4.4"
# TODO: Put back after MVP
#diesel_migrations =  "1.4"
#diesel = {version="1.4", features = ["sqlite", "serde_json", "chrono", "r2d2"]}
rand = "0.5.5"
futures =  { version = "=0.3.0-alpha.19", package = "futures-preview", features =["compat", "std"]}
tokio = "0.2.0-alpha.4"
tower = "0.3.0-alpha.2"
tokio-executor = { version ="^0.2.0-alpha.6", features = ["threadpool"] }

[dev-dependencies]
env_logger = "0.6.2"
tempdir = "0.3.7"
prost = "0.5.0"
