<html>
  <head>
    <title>{{title}}</title>
    <style>
      body { font-family: "Courier New"; font-size: small; margin: 20px; width:
      1100px; } h1, h2, h3, h4, h5, h6 { font-family: Arial, Helvetica,
      sans-serif; } a { color: #932fff; } table { border-collapse: collapse;
      border: 1px solid #efefef; width: 100%; } th, td { padding: 5px; border:
      1px solid #efefef; } .noborder, .noborder td, .noborder th { border: none;
      } @media (prefers-color-scheme: dark) { body { background: #111; color:
      #eee; } table { border-color: #333; } th, td { border-color: #333; } }

    </style>
  </head>
  <body>
    <h2>A simple, no Javascript, (almost) no CSS block explorer for Tari</h2>
    <h3><a href="https://www.tari.com">tari.com</a></h3>
    <br />
    {{{body}}}
  </body>
</html>