<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <style>
          body {
            font-family: "Courier New";
            font-size: small;
            margin: 20px;
            width: 1100px;
          }
          h1, h2, h3, h4, h5, h6 {
              font-family: Arial, Helvetica, sans-serif;
          }
      </style>
  </head>
  <body>
    <h2>A simple, no Javascript, (almost) no CSS block explorer for Tari</h2>
    <br />
    {{{body}}}
  </body>
</html>
