<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <style>
          body { font-family: "Courier New"; font-size: small}
      </style>
  </head>
  <body>
    <h4>A simple, no Javascript, (almost) no CSS block explorer for Tari</h4>
    {{{body}}}
  </body>
</html>
