[package]
name = "tari_comms"
description = "A peer-to-peer messaging system"
authors = ["The Tari Development Community"]
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "1.0.0-pre.11a"
edition = "2018"

[dependencies]
tari_crypto = { version = "0.20" }
tari_metrics = { path = "../../infrastructure/metrics", optional = true, version = "1.0.0-pre.11a" }
tari_storage = {  path = "../../infrastructure/storage", version = "1.0.0-pre.11a" }
tari_shutdown = {  path = "../../infrastructure/shutdown" , version = "1.0.0-pre.11a"}
tari_utilities = { version = "0.7" }

anyhow = "1.0.53"
async-trait = "0.1.36"
bitflags = { version = "2.4", features = ["serde"] }
blake2 = "0.10"
bytes = { version = "1", features = ["serde"] }
chrono = { version = "0.4.19", default-features = false, features = ["serde", "clock"] }
cidr = "0.1.0"
data-encoding = "2.2.0"
derivative = "2.2.0"
digest = "0.10"
futures = { version = "^0.3", features = ["async-await"] }
lmdb-zero = "0.4.4"
log = { version = "0.4.0", features = ["std"] }
log-mdc = "0.1.0"
multiaddr = { version = "0.14.0" }
nom = { version = "7.1", features = ["std"], default-features = false }
once_cell = "1.8.0"
pin-project = "1.0.8"
prost = "=0.11.9"
rand = "0.8"
serde = "1.0.119"
serde_derive = "1.0.119"
sha3 = "0.10"
snow = { version = "0.9.5", features = ["default-resolver"] }
thiserror = "1.0.26"
tokio = { version = "1.36", features = ["rt-multi-thread", "time", "sync", "signal", "net", "macros", "io-util"] }
tokio-stream = { version = "0.1.9", features = ["sync"] }
tokio-util = { version = "0.6.7", features = ["codec", "compat"] }
tower = {version = "0.4", features = ["util"]}
tracing = "0.1.26"
yamux = "=0.10.2"
zeroize = "1"

[dev-dependencies]
tari_test_utils = {  path = "../../infrastructure/test_utils" }
tari_comms_rpc_macros = { path = "../rpc_macros" }

env_logger = "0.7.0"
serde_json = "1.0.39"
tempfile = "3.1.0"

[build-dependencies]
tari_common = {  path = "../../common", features = ["build"], version = "1.0.0-pre.11a" }

[features]
c_integration = []
metrics = ["tari_metrics"]
rpc = ["tower/make", "tower/util"]
