[package]
name = "tari_contacts"
authors = ["The Tari Development Community"]
description = "Tari contacts library"
license = "BSD-3-Clause"
version = "1.0.0-pre.11a"
edition = "2018"

[dependencies]
tari_common = { path = "../../common", version = "1.0.0-pre.11a" }
tari_common_sqlite = { path = "../../common_sqlite", version = "1.0.0-pre.11a" }
tari_common_types = {  path = "../../base_layer/common_types", version = "1.0.0-pre.11a" }
tari_comms = {  path = "../../comms/core", version = "1.0.0-pre.11a" }
tari_comms_dht = { path = "../../comms/dht", version = "1.0.0-pre.11a" }
tari_crypto = { version = "0.20" }
tari_p2p = {  path = "../p2p", features = ["auto-update"], version = "1.0.0-pre.11a" }
tari_service_framework = {  path = "../service_framework", version = "1.0.0-pre.11a" }
tari_shutdown = {  path = "../../infrastructure/shutdown", version = "1.0.0-pre.11a" }
tari_utilities = { version = "0.7" }

chrono = { version = "0.4.19", default-features = false, features = ["serde"] }
diesel = { version = "2.0.3", features = ["sqlite", "serde_json", "chrono", "64-column-tables"] }
diesel_migrations = "2.0.0"
futures = { version = "^0.3.1", features = ["compat", "std"] }
log = "0.4.6"
num-derive = "0.3.3"
num-traits = "0.2.15"
prost = "0.11.9"
rand = "0.8"
serde = "1.0.136"
serde_json = "1.0.79"
thiserror = "1.0.26"
tokio = { version = "1.36", features = ["sync", "macros"] }
tower = "0.4"
uuid = { version = "1.3", features = ["v4"] }

[dev-dependencies]
tari_comms_dht = {  path = "../../comms/dht", features = ["test-mocks"] }
tari_test_utils = {  path = "../../infrastructure/test_utils" }
tempfile = "3.1.0"

[build-dependencies]
tari_common = { path = "../../common", version = "1.0.0-pre.11a" }

[package.metadata.cargo-machete]
ignored = ["prost"] # this is so we can run cargo machete without getting false positive about macro dependancies
