[package]
name = "tari_service_framework"
version = "0.8.10"
authors = ["The Tari Development Community"]
description = "The Tari communication stack service framework"
repository = "https://github.com/tari-project/tari"
edition = "2018"
license = "BSD-3-Clause"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tari_shutdown = { version = "^0.8", path="../../infrastructure/shutdown" }
thiserror = "1.0.20"
futures = { version = "^0.3.1", features=["async-await"]}
tower-service = { version="0.3.0" }
tokio = { version = "0.2.10" }
log = "0.4.8"
anyhow = "1.0.32"

[dev-dependencies]
tari_test_utils = { version = "^0.8", path="../../infrastructure/test_utils" }

futures-test = { version = "0.3.3" }
tokio-macros = "0.2.5"
tower = "0.3.1"
