[package]
name = "tari_service_framework"
version = "0.0.5"
authors = ["The Tari Development Community"]
description = "The Tari communication stack service framework"
repository = "https://github.com/tari-project/tari"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
derive-error = "0.0.4"
futures = { version = "=0.3.0-alpha.18", package = "futures-preview", features=["async-await", "nightly"]}
tower-service = { version="0.3.0-alpha.1" }

[dev-dependencies]
tari_test_utils = { version = "^0.0", path="../../infrastructure/test_utils" }
futures-test = { version = "0.3.0-alpha.18", package = "futures-test-preview" }
