[package]
name = "tari_base_node"
authors = ["The Tari Development Community"]
description = "The tari full base node implementation"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.5.4"
edition = "2018"

[dependencies]
tari_common = {  path = "../../common" }
tari_comms = { path = "../../comms", features = ["rpc"]}
tari_comms_dht = {  path = "../../comms/dht"}
tari_core = {  path = "../../base_layer/core", default-features = false, features = ["transactions"]}
tari_p2p = {  path = "../../base_layer/p2p" }
tari_service_framework = {  path = "../../base_layer/service_framework"}
tari_shutdown = { path = "../../infrastructure/shutdown"}
tari_mmr = {  path = "../../base_layer/mmr" }
tari_wallet = { path = "../../base_layer/wallet" }
tari_broadcast_channel = "^0.2"
tari_crypto = { version = "^0.5" }
tari_app_grpc = {  path = "../tari_app_grpc" }
tari_app_utilities = { version = "^0.1.0", path = "../tari_app_utilities"}

structopt = { version = "0.3.13", default_features = false }
config = { version = "0.9.3" }
dirs = "2.0.2"
futures = { version = "^0.3.1", default-features = false, features = ["alloc"]}
log = { version = "0.4.8", features = ["std"] }
log4rs = { version = "0.8.3", features = ["toml_format", "rolling_file_appender", "compound_policy", "size_trigger", "fixed_window_roller"] }
rand = "0.7.2"
serde_json = "1.0"
tokio = { version="0.2.10", features = ["signal"] }
rustyline = "6.0"
rustyline-derive = "0.3"
strum = "0.18.0"
strum_macros = "0.18.0"
qrcode = { version = "0.12" }
chrono = "0.4"
chrono-english = "0.1"
regex = "1"
tonic = "0.2"
prost = "0.6"
prost-types = "0.6.1"

[build-dependencies]
tonic-build = "0.2"
serde = "1.0.90"
toml = "0.5"
git2 = "0.8"

[features]
avx2 = ["tari_core/avx2", "tari_crypto/avx2", "tari_p2p/avx2", "tari_wallet/avx2", "tari_comms/avx2", "tari_comms_dht/avx2"]
safe = []
