[package]
name = "tari_base_node"
authors = ["The Tari Development Community"]
description = "The tari full base node implementation"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.8.8"
edition = "2018"

[dependencies]
tari_common = {  path = "../../common" }
tari_comms = { path = "../../comms", features = ["rpc"]}
tari_comms_dht = {  path = "../../comms/dht"}
tari_core = {  path = "../../base_layer/core", default-features = false, features = ["transactions"]}
tari_p2p = {  path = "../../base_layer/p2p" }
tari_service_framework = {  path = "../../base_layer/service_framework"}
tari_shutdown = { path = "../../infrastructure/shutdown"}
tari_mmr = {  path = "../../base_layer/mmr" }
tari_wallet = { path = "../../base_layer/wallet" }
tari_crypto = { git = "https://github.com/tari-project/tari-crypto/", branch = "main" }
tari_app_grpc = {  path = "../tari_app_grpc" }
tari_app_utilities = { path = "../tari_app_utilities"}

anyhow = "1.0.32"
bincode = "1.3.1"
chrono = "0.4"
config = { version = "0.9.3" }
futures = { version = "^0.3.1", default-features = false, features = ["alloc"]}
log = { version = "0.4.8", features = ["std"] }
log4rs = { version = "0.8.3", features = ["toml_format", "rolling_file_appender", "compound_policy", "size_trigger", "fixed_window_roller"] }
regex = "1"
rustyline = "6.0"
rustyline-derive = "0.3"
tokio = { version="0.2.10", features = ["signal"] }
strum = "^0.19"
strum_macros = "0.18.0"
thiserror = "^1.0.20"
tonic = "0.2"

[build-dependencies]
tonic-build = "0.2"
serde = "1.0.90"
toml = "0.5"
git2 = "0.8"

[features]
avx2 = ["tari_core/avx2", "tari_crypto/avx2", "tari_p2p/avx2", "tari_wallet/avx2", "tari_comms/avx2", "tari_comms_dht/avx2"]
safe = []
