[package]
name = "minotari_merge_mining_proxy"
authors = ["The Tari Development Community"]
description = "The Tari merge mining proxy for xmrig"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.52.0-pre.1"
edition = "2018"

[features]
default = []

[dependencies]
tari_common = { path = "../../common" }
tari_comms = { path = "../../comms/core" }
tari_core = { path = "../../base_layer/core", default-features = false, features = ["transactions"] }
minotari_app_utilities = { path = "../minotari_app_utilities" }
tari_utilities = { version = "0.5" }
minotari_node_grpc_client = {path="../../clients/rust/base_node_grpc_client" }
minotari_wallet_grpc_client = {path="../../clients/rust/wallet_grpc_client" }

anyhow = "1.0.53"
crossterm = { version = "0.25.0" }
bincode = "1.3.1"
borsh = "0.10"
bytes = "1.1"
chrono = { version = "0.4.6", default-features = false }
clap = { version = "4.4.1", features = ["derive", "env"] }
config = { version = "0.13.0" }
futures = "0.3.5"
hex = "0.4.2"
hyper = "0.14.12"
jsonrpc = "0.12.0"
log = { version = "0.4.8", features = ["std"] }
reqwest = { version = "0.11.4", features = ["json"] }
serde = { version = "1.0.106", features = ["derive"] }
serde_json = "1.0.57"
thiserror = "1.0.26"
tokio = { version = "1.23", features = ["macros"] }
tonic = "0.6.2"
tracing = "0.1"
url = "2.1.1"

[build-dependencies]
tari_features = { path = "../../common/tari_features"}
