[package]
name = "tari_common"
authors = ["The Tari Development Community"]
description = "Utilities and features for the Tari domain layer, shared across both Base and Digital Asset layers."
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "0.28.1"
edition = "2018"

[features]
build = ["toml", "anyhow", "prost-build"]
static-application-info = ["git2"]

[dependencies]
structopt = { version = "0.3.13", default_features = false }
config = { version = "0.9.3", default_features = false, features = ["toml"] }
serde = { version = "1.0.106", default_features = false }
serde_json = "1.0.51"
dirs-next = "1.0.2"
get_if_addrs = "0.5.3"
log = "0.4.8"
log4rs = { version = "1.0.0", default_features = false, features = ["config_parsing", "threshold_filter", "yaml_format"] }
multiaddr = { version = "0.13.0" }
sha2 = "0.9.5"
path-clean = "0.1.0"
tari_storage = { version = "^0.28", path = "../infrastructure/storage"}

anyhow = { version = "1.0.53", optional = true }
git2 = { version = "0.8", optional = true }
prost-build = { version = "0.9.0", optional = true }
toml = { version = "0.5", optional = true }
thiserror = "1.0.29"
fs2 = "0.4.3"
tempfile = "3.1.0"

[dev-dependencies]
tari_test_utils = { version = "^0.28", path = "../infrastructure/test_utils"}
anyhow = "1.0.53"
