[package]
name = "tari_common"
authors = ["The Tari Development Community"]
description = "Utilities and features for the Tari domain layer, shared across both Base and Digital Asset layers."
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "0.2.15"
edition = "2018"


[dependencies]
structopt = { version = "0.3.13", default_features = false }
config = { version = "0.9.3", default_features = false, features = ["toml"] }
serde = { version = "1.0.106", default_features = false }
serde_json = "1.0.51"
dirs-next = "1.0.2"
get_if_addrs = "0.5.3"
log = "0.4.8"
log4rs = "0.8.3"
multiaddr={package="parity-multiaddr", version = "0.11.0"}
prost-build = "0.6.1"
sha2 = "0.8.0"
path-clean = "0.1.0"
tari_storage = { version = "^0.2", path = "../infrastructure/storage"}

[dev-dependencies]
tempfile = "3.1.0"
tari_test_utils = { version = "^0.2", path = "../infrastructure/test_utils"}
serde = { version = "1.0.119", features = ["derive"] }
anyhow = "1.0"
toml = "0.5"
