[package]
name = "tari_common"
description = "Utilities and features for the Tari domain layer, shared across both Base and Digital Asset layers."
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "0.0.5"
edition = "2018"


[dependencies]
dirs = "2.0"
log4rs = "0.8.3"
