[package]
name = "tari_p2p"
version = "0.38.8"
authors = ["The Tari Development community"]
description = "Tari base layer-specific peer-to-peer communication features"
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
edition = "2018"

[dependencies]
tari_comms = { version = "^0.38", path = "../../comms/core" }
tari_comms_dht = { version = "^0.38", path = "../../comms/dht" }
tari_common = { version = "^0.38", path = "../../common" }
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", tag = "v0.16.0" }
tari_service_framework = { version = "^0.38", path = "../service_framework" }
tari_shutdown = { version = "^0.38", path = "../../infrastructure/shutdown" }
tari_storage = { version = "^0.38", path = "../../infrastructure/storage" }
tari_utilities = { git = "https://github.com/tari-project/tari_utilities.git", tag="v0.4.7" }

anyhow = "1.0.53"
bytes = "0.5"
chrono = { version = "0.4.19", default-features = false, features = ["serde"] }
fs2 = "0.4.0"
futures = { version = "^0.3.1" }
lmdb-zero = "0.4.4"
log = "0.4.6"
pgp = { version = "0.7.2", optional = true }
prost = "=0.9.0"
rand = "0.7.3"
reqwest = { version = "0.11", optional = true, default-features = false }
rustls = "0.20.2"
semver = { version = "1.0.1", optional = true }
serde = "1.0.90"
serde_derive = "1.0.90"
thiserror = "1.0.26"
tokio = { version = "1.20", features = ["macros"] }
tokio-stream = { version = "0.1.9", default-features = false, features = ["time"] }
tower = "0.4.11"
tower-service = { version = "0.3.1" }
trust-dns-client = { version = "=0.21.0-alpha.5", features = ["dns-over-rustls"] }
webpki = "0.21"

[dev-dependencies]
tari_test_utils = { version = "^0.38", path = "../../infrastructure/test_utils" }

config = "0.13.0"
clap = "2.33.0"
lazy_static = "1.3.0"
tempfile = "3.1.0"

[build-dependencies]
tari_common = { version = "^0.38", path = "../../common", features = ["build"] }

[features]
test-mocks = []
auto-update = ["reqwest/default", "pgp" ,"semver"]
avx2 = ["tari_crypto/simd_backend"]

