[package]
name = "tari_p2p"
version = "0.0.10"
authors = ["The Tari Development community"]
description = "Tari base layer-specific peer-to-peer communication features"
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
edition = "2018"

[features]
test-mocks = []

[dependencies]
tari_broadcast_channel = "^0.1"
tari_comms = { version = "^0.0", path = "../../comms"}
tari_comms_dht = { version = "^0.0", path = "../../comms/dht"}
tari_crypto = { version = "^0.3" }
tari_pubsub = "^0.1"
tari_service_framework = { version = "^0.0", path = "../service_framework"}
tari_shutdown = { version = "^0.0", path="../../infrastructure/shutdown" }
tari_storage = {version = "^0.0", path = "../../infrastructure/storage"}
tari_utilities = "^0.1"

bytes = "0.4.12"
chrono = {version = "0.4.6", features = ["serde"]}
derive-error = "0.0.4"
futures = {version = "^0.3.1"}
lmdb-zero = "0.4.4"
log = "0.4.6"
prost = "0.6.1"
rand = "0.7.2"
serde = "1.0.90"
serde_derive = "1.0.90"
tokio = {version="0.2.10", features=["blocking"]}
tower = "0.3.0-alpha.2"
tower-service = { version="0.3.0-alpha.2" }
 
[dev-dependencies]
tari_test_utils = { version = "^0.0", path="../../infrastructure/test_utils" }

clap = "2.33.0"
crossbeam-channel = "0.3.8"
env_logger = "0.6.2"
futures-test = { version = "0.3.0-alpha.19", package = "futures-test-preview" }
futures-timer = "0.3.0"
lazy_static = "1.3.0"
multiaddr = {version = "0.7.0", package = "parity-multiaddr"}
stream-cancel = "0.4.4"
tempdir = "0.3.7"
tokio-macros = "0.2.4"

[dev-dependencies.log4rs]
version ="0.8.3"
features = ["console_appender", "file_appender", "file", "yaml_format"]
default-features = false

[target.'cfg(not(windows))'.dev-dependencies.cursive]
version = "0.12.0"

[build-dependencies]
tari_common = { version = "^0.0", path="../../common"}
