[package]
name = "tari_p2p"
version = "1.7.0-pre.0"
authors = ["The Tari Development community"]
description = "Tari base layer-specific peer-to-peer communication features"
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
edition = "2021"

[dependencies]
tari_network = { workspace = true }
tari_common = { path = "../../common", version = "1.6.0-pre.0" }
tari_common_types = { path = "../common_types", version = "1.6.0-pre.0" }
tari_crypto = { version = "0.21.0" }
tari_service_framework = { path = "../service_framework", version = "1.6.0-pre.0" }
tari_shutdown = { path = "../../infrastructure/shutdown", version = "1.6.0-pre.0" }
tari_storage = { path = "../../infrastructure/storage", version = "1.6.0-pre.0" }
tari_utilities = { version = "0.8" }

anyhow = "1.0.53"
fs2 = "0.4.0"
futures = { version = "^0.3.1" }
lmdb-zero = "0.4.4"
log = "0.4.6"
pgp = { version = "0.10", optional = true }
prost = "0.13.3"
primitive-types = "0.13.1"
rand = "0.8"
reqwest = { version = "0.11", optional = true, default-features = false }
rustls = { version = "0.23.13", default-features = false, features = ["logging", "std", "tls12"] }
semver = { version = "1.0.1", optional = true }
serde = "1.0.90"
thiserror = "1.0.26"
tokio = { version = "1.36", features = ["macros"] }
tokio-stream = { version = "0.1.9", default-features = false, features = [
    "time",
] }
tower = "0.4.11"
hickory-client = { version = "0.25.0-alpha.2", features = ["dns-over-rustls"] }
hickory-resolver = "0.25.0-alpha.2"
webpki-roots = "0.26.6"
tokio-util = "0.7.12"

[dev-dependencies]
tari_test_utils = { path = "../../infrastructure/test_utils" }
toml = "0.5.11"

config = "0.14.0"
clap = "3.2"
tempfile = "3.1.0"

[build-dependencies]
tari_common = { path = "../../common", features = [
    "build",
], version = "1.7.0-pre.0" }

[features]
test-mocks = []
auto-update = ["reqwest/default", "pgp", "semver"]

