[package]
name = "tari_p2p"
version = "1.0.0-pre.11a"
authors = ["The Tari Development community"]
description = "Tari base layer-specific peer-to-peer communication features"
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
edition = "2018"

[dependencies]
tari_comms = {  path = "../../comms/core", version = "1.0.0-pre.11a" }
tari_comms_dht = {  path = "../../comms/dht", version = "1.0.0-pre.11a" }
tari_common = {  path = "../../common", version = "1.0.0-pre.11a" }
tari_crypto = { version = "0.20" }
tari_service_framework = {  path = "../service_framework", version = "1.0.0-pre.11a" }
tari_shutdown = {  path = "../../infrastructure/shutdown", version = "1.0.0-pre.11a" }
tari_storage = {  path = "../../infrastructure/storage", version = "1.0.0-pre.11a" }
tari_utilities = { version = "0.7" }

anyhow = "1.0.53"
fs2 = "0.4.0"
futures = { version = "^0.3.1" }
lmdb-zero = "0.4.4"
log = "0.4.6"
pgp = { version = "0.10", optional = true }
prost = "0.11.9"
rand = "0.8"
reqwest = { version = "0.11", optional = true, default-features = false }
rustls = "0.20.2"
semver = { version = "1.0.1", optional = true }
serde = "1.0.90"
thiserror = "1.0.26"
tokio = { version = "1.36", features = ["macros"] }
tokio-stream = { version = "0.1.9", default-features = false, features = ["time"] }
tower = "0.4.11"
trust-dns-client = { version = "=0.21.0-alpha.5", features = ["dns-over-rustls"] }
webpki = "0.22"

[dev-dependencies]
tari_test_utils = {  path = "../../infrastructure/test_utils" }

config = "0.13.0"
clap = "3.2"
tempfile = "3.1.0"

[build-dependencies]
tari_common = {  path = "../../common", features = ["build"], version = "1.0.0-pre.11a" }

[features]
test-mocks = []
auto-update = ["reqwest/default", "pgp", "semver"]
