version: "3.9"
services:
  tor:
    image: quay.io/tarilabs/tor:latest
    build:
      context: .
      dockerfile: tor.Dockerfile
    volumes:
      - ${DATA_FOLDER}/tor:/etc/tor/

  base_node:
    image: quay.io/tarilabs/tari_base_node:latest
    build:
      context: ./../../..
      dockerfile: applications/launchpad/docker_rig/base_node.Dockerfile
      args:
        ARCH: native
        FEATURES: avx2
    environment:
      TARI_LOG_CONFIGURATION: "/var/tari/config/log4rs.yml"
      APP_NAME: base_node
      APP_EXEC: tari_base_node
      WAIT_FOR_TOR: ${WAIT_FOR_TOR:-0}
      TARI_NETWORK: ${TARI_NETWORK}
      TARI_DIBBLER__BASE_NODE__DATA_DIR: "/blockchain/dibbler"
    ports:
      - 18189:18189
      - 18142:18142
    command: ["--non-interactive"]
    depends_on:
      - tor
    volumes:
      - ${DATA_FOLDER}:/var/tari/
      - blockchain:/blockchain/${TARI_NETWORK}
    stdin_open: true
    tty: true

  wallet:
    image: quay.io/tarilabs/tari_console_wallet:latest
    build:
      context: ./../../..
      dockerfile: applications/launchpad/docker_rig/console_wallet.Dockerfile
      args:
        ARCH: native
        FEATURES: avx2
    environment:
      TARI_LOG_CONFIGURATION: "/var/tari/config/log4rs.yml"
      APP_NAME: wallet
      APP_EXEC: tari_console_wallet
      WAIT_FOR_TOR: ${WAIT_FOR_TOR:-0}
      SHELL: "/bin/bash"
      TERM: "linux"
      TARI_WALLET_PASSWORD: ${TARI_WALLET_PASSWORD:-tari}
      TARI_NETWORK: ${TARI_NETWORK:-dibbler}
    command: ["--non-interactive"]
    ports:
      - 18188:18188
      - 18143:18143
    depends_on:
      - tor
    volumes:
      - ${DATA_FOLDER}:/var/tari/
    #stdin_open: true
    #tty: true

  sha3_miner:
    image: quay.io/tarilabs/tari_sha3_miner:latest
    build:
      context: ./../../..
      dockerfile: applications/launchpad/docker_rig/sha3_miner.Dockerfile
      args:
        ARCH: native
        FEATURES: avx2
    environment:
      TARI_LOG_CONFIGURATION: "/var/tari/config/log4rs.yml"
      APP_NAME: sha3_miner
      APP_EXEC: tari_miner
      WAIT_FOR_TOR: 0
      TARI_NETWORK: ${TARI_NETWORK}
      TARI_MINER__NUM_MINING_THREADS: 2
      TARI_MINER__MINE_ON_TIP_ONLY: 1
      TARI_MINER__BASE_NODE_ADDR: "/dns4/base_node/tcp/18142"
      TARI_MINER__WALLET_ADDR: "/dns4/wallet/tcp/18143"
    command: []
    depends_on:
      - base_node
      - wallet
    volumes:
      - ${DATA_FOLDER}:/var/tari/

  xmrig:
    image: quay.io/tarilabs/xmrig:latest
    build:
      context: .
      dockerfile: xmrig.Dockerfile
    #command: ["--url", "mm_proxy:18081", "--user", "${TARI_MONERO_WALLET_ADDRESS:-859CW1aiA8gUmAaTipKsYrF5r83MesesSjWoJSSRL6nnfi5LqBssxJmg7BzhgXYcjcPARM7bBvFR9H5dJdi6w93eKA53v8G}", "--coin", "monero", "--daemon", "--log-file=/var/xmrig/xmrig.log"]
    command:
      [
        "--url",
        "mm_proxy:18081",
        "--user",
        "${TARI_MONERO_WALLET_ADDRESS:-5AJ8FwQge4UjT9Gbj4zn7yYcnpVQzzkqr636pKto59jQcu85CFsuYVeFgbhUdRpiPjUCkA4sQtWApUzCyTMmSigFG2hDo48}",
        "--coin",
        "monero",
        "--daemon",
        "--log-file=/var/xmrig/xmrig.log",
        "--verbose",
      ]
    depends_on:
      - mm_proxy
    volumes:
      - ${DATA_FOLDER}/xmrig:/var/xmrig/

  monerod:
    image: quay.io/tarilabs/monerod:latest
    build:
      context: .
      dockerfile: monerod.Dockerfile
    volumes:
      - monero-blockchain:/home/monero/.bitmonero
      - ${DATA_FOLDER}/monerod:/home/monerod
    command:
      - "--non-interactive"
      - "--restricted-rpc"
      - "--rpc-bind-ip=0.0.0.0"
      - "--confirm-external-bind"
      - "--enable-dns-blocklist"
      - "--log-file=/home/monerod/monerod.log"
      - "--fast-block-sync=1"
      - "--prune-blockchain"
      - "--${MONERO_NETWORK:-mainnet}"

  mm_proxy:
    image: quay.io/tarilabs/tari_mm_proxy:latest
    build:
      context: ./../../..
      dockerfile: applications/launchpad/docker_rig/mm_proxy.Dockerfile
      args:
        ARCH: native
        FEATURES: avx2
    environment:
      RUST_LOG: debug
      TARI_LOG_CONFIGURATION: "/var/tari/config/log4rs.yml"
      APP_NAME: mm_proxy
      APP_EXEC: tari_merge_mining_proxy
      WAIT_FOR_TOR: 0
      TARI_NETWORK: ${TARI_NETWORK}
      TARI_MERGE_MINING_PROXY__BASE_NODE_GRPC_ADDRESS: "/dns4/base_node/tcp/18142"
      TARI_MERGE_MINING_PROXY__CONSOLE_WALLET_GRPC_ADDRESS: "/dns4/wallet/tcp/18143"
      TARI_MERGE_MINING_PROXY__MONEROD_USERNAME: ${TARI_MONEROD_USERNAME}
      TARI_MERGE_MINING_PROXY__MONEROD_PASSWORD: ${TARI_MONEROD_PASSWORD}
      TARI_MERGE_MINING_PROXY__MONEROD_USE_AUTH: ${TARI_MONEROD_USE_AUTH:-0}
      TARI_MERGE_MINING_PROXY__LISTENER_ADDRESS: "/ip4/0.0.0.0/tcp/18081"
    depends_on:
      - base_node
      - wallet
    command: []
    volumes:
      - ${DATA_FOLDER}:/var/tari/
#  pool-worker:
#  pool-operator:

volumes:
  # The blockchain data is stored in a docker volume for performance reasons. If you need to back up or access the LMDB
  # blockchain data, you can use something like
  # `docker run --rm -v $(pwd):/backup -v blockchain:/blockchain ubuntu tar czvf /backup/backup.tar.gz /blockchain`
  blockchain:
  monero-blockchain:
