[package]
name = "tari_core"
version = "0.0.1"
edition = "2018"

[dependencies]
bitflags = "1.0.4"
chrono = "0.4.6"
digest = "0.8.0"
crypto = { path = "../../infrastructure/crypto"}
curve25519-dalek = "1.0.2"
derive-error = "0.0.4"
rand = "0.5.5"
merklemountainrange= {path = "../../infrastructure/merklemountainrange"}
