[package]
name = "tari_core"
description = "Core Tari protocol components"
authors = ["The Tari Development Community"]
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "0.40.1"
edition = "2018"

[features]
default = ["base_node"]
transactions = []
mempool_proto = []
base_node = ["croaring", "tari_mmr", "transactions", "mempool_proto", "base_node_proto", "monero", "randomx-rs"]
base_node_proto = []
avx2 = ["tari_crypto/simd_backend"]
benches = ["base_node", "criterion"]

[dependencies]
tari_common = { version = "^0.40", path = "../../common" }
tari_common_types = { version = "^0.40", path = "../../base_layer/common_types" }
tari_comms = { version = "^0.40", path = "../../comms/core" }
tari_comms_dht = { version = "^0.40", path = "../../comms/dht" }
tari_comms_rpc_macros = { version = "^0.40", path = "../../comms/rpc_macros" }
tari_crypto = { git = "https://github.com/tari-project/tari-crypto.git", tag = "v0.15.7" }
tari_metrics = { path = "../../infrastructure/metrics" }
tari_mmr = { version = "^0.40", path = "../../base_layer/mmr", optional = true, features = ["native_bitmap"] }
tari_p2p = { version = "^0.40", path = "../../base_layer/p2p" }
tari_script = { path = "../../infrastructure/tari_script" }
tari_service_framework = { version = "^0.40", path = "../service_framework" }
tari_shutdown = { version = "^0.40", path = "../../infrastructure/shutdown" }
tari_storage = { version = "^0.40", path = "../../infrastructure/storage" }
tari_test_utils = { version = "^0.40", path = "../../infrastructure/test_utils" }
tari_utilities = { git = "https://github.com/tari-project/tari_utilities.git", tag="v0.4.7" }

async-trait = "0.1.50"
bincode = "1.1.4"
bitflags = "1.0.4"
blake2 = "^0.9.0"
bytes = "0.5"
chacha20poly1305 = "0.9.0"
chrono = { version = "0.4.19", default-features = false, features = ["serde"] }
criterion = { version = "0.3.5", optional = true  }
croaring = { version = "0.5.2", optional = true }
decimal-rs = "0.1.20"
derivative = "2.2.0"
digest = "0.9.0"
fs2 = "0.4.0"
futures = { version = "^0.3.16", features = ["async-await"] }
hex = "0.4.2"
integer-encoding = "3.0.2"
lmdb-zero = "0.4.4"
log = "0.4"
log-mdc = "0.1.0"
monero = { git = "https://github.com/tari-project/monero-rs.git", branch = "main" , features = ["serde"], optional = true }
newtype-ops = "0.1.4"
num-traits = "0.2.15"
num-derive = "0.3.3"
num-format = "0.4.0"
once_cell = "1.8.0"
prost = "0.9"
prost-types = "0.9"
rand = "0.7.3"
randomx-rs = { git = "https://github.com/tari-project/randomx-rs", tag = "v1.1.13", optional = true }
serde = { version = "1.0.106", features = ["derive"] }
serde_json = "1.0"
serde_repr = "0.1.8"
sha3 = "0.9"
strum_macros = "0.22"
thiserror = "1.0.26"
tokio = { version = "1.20", features = ["time", "sync", "macros"] }
tracing = "0.1.26"
tracing-attributes = "*"
uint = { version = "0.9", default-features = false }

[dev-dependencies]
tari_p2p = { version = "^0.40", path = "../../base_layer/p2p", features = ["test-mocks"] }
tari_test_utils = { version = "^0.40", path = "../../infrastructure/test_utils" }

config = { version = "0.13.0" }
env_logger = "0.7.0"
tempfile = "3.1.0"

[build-dependencies]
tari_common = { version = "^0.40", path = "../../common", features = ["build"] }

[[bench]]
name = "mempool"
harness = false
