[package]
name = "tari_core"
description = "Core Tari protocol components"
authors = ["The Tari Development Community"]
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "0.2.11"
edition = "2018"

[features]
default = ["croaring", "tari_mmr", "transactions", "base_node", "mempool_proto", "base_node_proto", "monero", "randomx-rs"]
transactions = []
mempool_proto = []
base_node = []
base_node_proto = []
avx2 = ["tari_crypto/avx2"]

[dependencies]
tari_common = { version = "^0.2", path = "../../common"}
tari_comms = { version = "^0.2", path = "../../comms"}
tari_comms_dht = { version = "^0.2.1", path = "../../comms/dht"}
tari_comms_rpc_macros = { version = "^0.1", path = "../../comms/rpc_macros"}
tari_crypto = { version = "^0.8" }
tari_mmr = { version = "^0.2", path = "../../base_layer/mmr", optional = true }
tari_p2p = { version = "^0.2", path = "../../base_layer/p2p" }
tari_service_framework = { version = "^0.2", path = "../service_framework"}
tari_shutdown = { version = "^0.2", path = "../../infrastructure/shutdown" }
tari_storage = { version = "^0.2", path = "../../infrastructure/storage" }
tari_test_utils = { version = "^0.2", path = "../../infrastructure/test_utils" }

bincode = "1.1.4"
bitflags = "1.0.4"
blake2 = "^0.8.0"
sha3 = "0.9"
bytes = "0.4.12"
chrono = { version = "0.4.6", features = ["serde"]}
croaring = { version = "=0.4.5", optional = true }
digest = "0.8.0"
futures = {version = "^0.3.1", features = ["async-await"] }
fs2 = "0.3.0"
hex = "0.4.2"
lmdb-zero = "0.4.4"
log = "0.4"
monero = { version = "^0.9.1", features= ["serde_support"], optional = true }
newtype-ops = "0.1.4"
num = "0.3"
prost = "0.6.1"
prost-types = "0.6.1"
rand = "0.7.2"
randomx-rs = { version = "0.4.0", optional = true }
serde = { version = "1.0.106", features = ["derive"] }
serde_json = "1.0"
cfg-if = "0.1.10"
config = { version = "0.9.3" }
strum = "^0.19"
strum_macros = "0.17.1"
thiserror = "1.0.20"
tokio = { version="^0.2", features = ["blocking", "time", "sync"] }
ttl_cache = "0.5.1"
uint = { version = "0.8", default-features = false }
num-format = "0.4.0"

[dev-dependencies]
tari_p2p = { version = "^0.2", path = "../../base_layer/p2p", features=["test-mocks"]}
tari_test_utils = { version = "^0.2", path = "../../infrastructure/test_utils" }

config = { version = "0.9.3" }
env_logger = "0.7.0"
tempfile = "3.1.0"
tokio-macros = "0.2.4"
tari_wallet = { version = "^0.2", path = "../../base_layer/wallet" }

[build-dependencies]
tari_common = { version = "^0.2", path="../../common"}
