[package]
name = "tari_core"
version = "0.0.1"
edition = "2018"

[dependencies]
tari_utilities = { path = "../../infrastructure/tari_util"}
bitflags = "1.0.4"
chrono = "0.4.6"
derive = { path = "../../infrastructure/derive"}
digest = "0.8.0"
crypto = { path = "../../infrastructure/crypto"}
curve25519-dalek = "1.0.2"
derive-error = "0.0.4"
rand = "0.5.5"
