[package]
name = "tari_merge_mining_proxy"
authors = ["The Tari Development Community"]
description = "The tari merge miner proxy for xmrig"
repository = "https://github.com/tari-project/tari"
license = "BSD-3-Clause"
version = "0.7.2"
edition = "2018"

[features]
default = []
envlog = ["env_logger"]

[dependencies]
tari_app_grpc = { path = "../tari_app_grpc" }
tari_common = {  path = "../../common" }
tari_core = {  path = "../../base_layer/core", default-features = false, features = ["transactions"]}
tari_crypto = "^0.8"
tari_utilities = "^0.3"

bincode = "1.3.1"
bytes = "0.5.6"
config = { version = "0.9.3" }
derive-error = "0.0.4"
futures = "0.3.5"
hex = "0.4.2"
hyper = "0.13.7"
jsonrpc = "0.11.0"
log = { version = "0.4.8", features = ["std"] }
monero = {version = "^0.9.1", features = ["serde_support"]}
rand = "0.7.2"
reqwest = {version = "0.10.8", features=["json"]}
serde = { version="1.0.106", features = ["derive"] }
serde_json = "1.0.57"
structopt = { version = "0.3.13", default_features = false }
thiserror = "1.0.15"
tokio = "0.2.10"
tokio-macros = "0.2.5"
tonic = "0.2"
tracing = "0.1"
tracing-subscriber = "0.2"
tracing-futures = "0.2"
url = "2.1.1"

env_logger = { version = "0.7.1", optional = true }

[build-dependencies]
tonic-build = "0.2"

[dev-dependencies]
futures-test = "0.3.5"
