[package]
name = "tari_comms"
description = "A peer-to-peer messaging system"
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "0.0.2"
edition = "2018"

[dependencies]
bitflags ="1.0.4"
chrono = { version = "0.4.6", features = ["serde"]}
clear_on_drop = "0.2.3"
derive-error = "0.0.4"
lazy_static = "1.3.0"
log = { version = "0.4.0", features = ["std"] }
rand = "0.5.5"
serde = "1.0.90"
serde_derive = "1.0.90"
zmq = "0.9.1"
digest = "0.8.0"
time = "0.1.42"
lmdb-zero = "0.4.4"
ttl_cache = "0.5.1"

tari_crypto = { version="^0.0",  path = "../infrastructure/crypto"}
tari_utilities = { version="^0.0",  path = "../infrastructure/tari_util"}
tari_storage = { version="^0.0", path = "../infrastructure/storage"}
crossbeam-deque = "0.7.1"
crossbeam-channel = "0.3.9"

[dev-dependencies]
criterion = "0.2"
rand = "0.5.5"
simple_logger = "1.2.0"
serde_json = "1.0.39"

tari_common = { path = "../common"}

[[bench]]
name = "benches_main"
harness = false
