[package]
name = "tari_comms"
description = "A peer-to-peer messaging system"
repository = "https://github.com/tari-project/tari"
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "0.0.1"
edition = "2018"

[dependencies]
bitflags ="1.0.4"
chrono = { version = "0.4.6", features = ["serde"]}
clear_on_drop = "0.2.3"
derive-error = "0.0.4"
log = { version = "0.4.0", features = ["std"] }
rand = "0.5.5"
rmp-serde = "0.13.7"
serde = "1.0.90"
serde_derive = "1.0.90"
tari_crypto = { path = "../infrastructure/crypto"}
tari_utilities = { path = "../infrastructure/tari_util"}
zmq = "0.9"
digest = "0.8.0"

[dev-dependencies]
criterion = "0.2"
lazy_static = "1.3.0"
rand = "0.5.5"

[[bench]]
name = "benches_main"
harness = false
