---
name: CI

'on':
  workflow_dispatch:
  push:
    branches:
      - development
      - main
      - ci-*
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:

env:
  toolchain: nightly-2023-06-03
  CARGO_HTTP_MULTIPLEXING: false
  CARGO_TERM_COLOR: always
  CARGO_UNSTABLE_SPARSE_REGISTRY: true
  PROTOC: protoc
  TERM: unkown

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  clippy:
    name: clippy
    runs-on: [ubuntu-20.04]
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.toolchain }}
          components: clippy, rustfmt
      - name: ubuntu dependencies
        run: |
          sudo apt-get update
          sudo bash scripts/install_ubuntu_dependencies.sh
      - name: cargo format
        run: cargo fmt --all -- --check
      - name: Install cargo-lints
        run: cargo install cargo-lints
      - name: Clippy check (with lints)
        run: cargo lints clippy --all-targets --all-features
  machete:
    name: machete
    runs-on: [ubuntu-20.04]
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.toolchain }}
          components: clippy, rustfmt
      - name: ubuntu dependencies
        run: |
          sudo apt-get update
          sudo bash scripts/install_ubuntu_dependencies.sh
      - name: cargo machete
        run: |
          cargo install cargo-machete
          cargo machete
  build-nightly:
    name: cargo check with nightly
    runs-on: [self-hosted, ubuntu-high-cpu]
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.toolchain }}
      - name: ubuntu dependencies
        run: |
          sudo apt-get update
          sudo bash scripts/install_ubuntu_dependencies.sh
      - name: rustup show
        run: rustup show
      - name: cargo check
        run: cargo check --release --all-targets --locked
      - name: cargo check ffi separately
        run: cargo check --release --package tari_wallet_ffi --locked
  build-stable:
    name: cargo check with stable
    runs-on: [self-hosted, ubuntu-high-cpu]
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: rust-toolchain.toml override by removing
        run: rm -f rust-toolchain.toml
      - name: toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - name: ubuntu dependencies
        run: |
          sudo apt-get update
          sudo bash scripts/install_ubuntu_dependencies.sh
      - name: rustup show
        run: rustup show
      - name: cargo check
        run: cargo check --release --all-targets --workspace --exclude tari_integration_tests --locked
      - name: cargo check ffi separately
        run: cargo check --release --package tari_wallet_ffi --locked
  licenses:
    name: file licenses
    runs-on: [ubuntu-20.04]
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: install ripgrep
        run: |
          wget https://github.com/BurntSushi/ripgrep/releases/download/13.0.0/ripgrep_13.0.0_amd64.deb
          sudo dpkg -i ripgrep_13.0.0_amd64.deb
          rg --version || exit 1
      - name: run the license check
        run: ./scripts/file_license_check.sh
  test:
    name: test
    runs-on: [self-hosted, ubuntu-high-cpu]
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.toolchain }}
      - name: ubuntu dependencies
        run: |
          sudo apt-get update
          sudo bash scripts/install_ubuntu_dependencies.sh
      - name: test key manager wasm
        run: |
          cd base_layer/key_manager
          rustup target add wasm32-unknown-unknown
          cargo install wasm-pack --force
          make test
      - name: Install cargo-nextest
        run: cargo install cargo-nextest --locked
      - name: cargo test compile
        run: cargo test --no-run --locked --all-features --release
      - name: cargo test
        run: cargo nextest run --all-features --release -E "not package(tari_integration_tests)"
      - name: upload artifact
        uses: actions/upload-artifact@v3  # upload test results as artifact
        if: always()
        with:
          name: test-results
          path: ${{ github.workspace }}/target/nextest/ci/junit.xml

  # Allows other workflows to know the PR number
  artifacts:
    name: pr_2_artifact
    runs-on: [ubuntu-20.04]
    steps:
      - name: Save the PR number in an artifact
        shell: bash
        env:
          PR_NUM: ${{ github.event.number }}
        run: echo $PR_NUM > pr_num.txt

      - name: Upload the PR number
        uses: actions/upload-artifact@v3
        with:
          name: pr_num
          path: ./pr_num.txt

# needed for test results
  event_file:
    name: "Upload Event File for Test Results"
    runs-on: ubuntu-latest
    steps:
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: Event File
          path: ${{ github.event_path }}
