on:
  push:
    branches:
      - development
      - main
      - ci-*
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

name: CI

env:
  CARGO_HTTP_MULTIPLEXING: false
  PROTOC: protoc
  toolchain: nightly-2021-11-20

jobs:
  clippy:
    name: clippy
    runs-on: ubuntu-18.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.toolchain }}
          components: clippy, rustfmt
          override: true
      - uses: Swatinem/rust-cache@v1
      - name: ubuntu dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get -y install \
          libssl-dev \
          openssl \
          libsqlite3-dev \
          pkg-config \
          git \
          cmake \
          zip \
          libc++-dev \
          libc++abi-dev \
          libprotobuf-dev \
          protobuf-compiler \
          libwebkit2gtk-4.0-dev \
          build-essential \
          curl \
          wget \
          libgtk-3-dev \
          libappindicator3-dev \
          patchelf \
          librsvg2-dev
      - name: Compile NPM
        run: |
          cd applications/launchpad/gui-vue
          npm ci
          npm run build
      - name: cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Clippy check
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets -- -D warnings
  build:
    name: check nightly
    runs-on: ubuntu-18.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.toolchain }}
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v1
      - name: ubuntu dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get -y install \
          build-essential \
          libgtk-3-dev \
          libwebkit2gtk-4.0-dev \
          libsoup2.4-dev \
          curl \
          wget \
          libappindicator3-dev \
          patchelf \
          librsvg2-dev \
          libprotobuf-dev \
          protobuf-compiler
      - name: Compile NPM
        run: |
          cd applications/launchpad/gui-vue
          npm ci
          npm run build
      - name: cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --release --all-targets
  build-stable:
    name: check stable
    runs-on: ubuntu-18.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v1
      - name: ubuntu dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get -y install \
          build-essential \
          libgtk-3-dev \
          libwebkit2gtk-4.0-dev \
          libsoup2.4-dev \
          curl \
          wget \
          libappindicator3-dev \
          patchelf \
          librsvg2-dev \
          libprotobuf-dev \
          protobuf-compiler
      - name: Compile NPM
        run: |
          cd applications/launchpad/gui-vue
          npm ci
          npm run build
      - name: rustup show
        run: |
          rustup show
      - name: cargo build
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --release --all-targets
  test:
    name: test
    # needs: build
    runs-on: ubuntu-18.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.toolchain }}
      - uses: Swatinem/rust-cache@v1
      - name: ubuntu dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get -y install \
          build-essential \
          libgtk-3-dev \
          libwebkit2gtk-4.0-dev \
          libsoup2.4-dev \
          curl \
          wget \
          libappindicator3-dev \
          patchelf \
          librsvg2-dev \
          libprotobuf-dev \
          protobuf-compiler
      - name: Compile NPM
        run: |
          cd applications/launchpad/gui-vue
          npm ci
          npm run build
      - name: cargo test compile
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-run --locked
      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --nocapture
