---
# Notes for this action:
# Restoring caches is largely useless, since the compiler flags are only useful for code coverage runs.
# This GA is self-hosted, and has local caching solutions.
name: Source Coverage

'on':
  push:
    branches:
      - development
      - ci-coverage-*

env:
  toolchain: nightly-2022-11-03

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  coverage:
    name: test and generate coverage
    runs-on: [ self-hosted, ubuntu-high-mem ]
    steps:
      - name: checkout source code
        uses: actions/checkout@v3

      - name: ubuntu dependencies
        run: |
          sudo apt-get update
          sudo bash scripts/install_ubuntu_dependencies.sh

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: llvm-tools-preview

      - name: cargo test
        # Prepare the coverage data, even if some tests fail
        continue-on-error: true
        env:
          RUSTFLAGS: "-C instrument-coverage"
          RUSTDOCFLAGS: "-C instrument-coverage"
          LLVM_PROFILE_FILE: "coverage_data-%p-%m.profraw"
          CARGO_UNSTABLE_SPARSE_REGISTRY: true
        run: cargo test --all-features --no-fail-fast --workspace --exclude tari_integration_tests

      - name: prepare coverage data
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          cargo install grcov
          grcov . -s . --binary-path ./target/debug -t coveralls --branch --ignore-not-existing \
             -o ./target/coveralls_coverage.json \
             --token $COVERALLS_REPO_TOKEN \
             --ignore target/**/*.rs \
             --ignore **/.cargo/**/*.rs \
             --vcs-branch $GITHUB_REF_NAME \
             --service-name github \
             --service-job-id ${GITHUB_RUN_ID}

      - name: archive coverage data
        uses: actions/upload-artifact@v3
        with:
          path: target/coveralls_coverage.json
          name: coveralls-coverage

      - name: Coveralls upload
        continue-on-error: true
        uses: toshke/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./target/coveralls_coverage.json
          file-format: coveralls
